body {
    font-family: Arial, sans-serif;
    background-color: #3e3a3a;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #6e6767;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container p {
    margin: 10px 0;
    font-size: 16px;
    color: #ffffff;
}

.container input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.container button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #352422;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.container button:hover {
    background-color: #392c2c;
}

#qrcode {

    margin-left: 130px;
    margin-top: 20px;
}
